@import url("https://fonts.googleapis.com/css2?family=Nanum+Pen+Script&family=Special+Elite&display=swap");
html {
  scroll-behavior: smooth;
}

body {
  font-family: "Special Elite";
  color: #4a4860;
}

.cursive {
  font-family: "Nanum Pen Script", cursive;
}

/******************* applied all throughout webpage *******************/

.blueShadow {
  text-shadow: 3px 3px 3px #65d9e5;
}

.pinkShadow {
  text-shadow: 3px 3px 3px #d06f7e;
}

.purpleShadow {
  text-shadow: 3px 3px 3px #4a4860;
}

.wrapper {
  padding: 5% 0 5% 0;
  margin: 0 15% 0 15%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.heading {
  text-align: center;
  margin: 1.5rem 0;
  letter-spacing: 2px;
  font-size: 3rem;
}

p {
  padding: 10px 0;
  letter-spacing: 2px;
  font-size: 1.2vw;
  text-align: center;
}

/******************* navigation bar *******************/

.navbar {
  min-height: 2.5rem;
  padding-top: 0;
  padding-bottom: 0;
}

.navbar.is-fixed-top {
  background: #4a4860;
  border-bottom: 2.5px solid #65d9e5;
}

.navIcon {
  font-size: 15px;
  padding-right: 5px;
}

ul {
  list-style-type: none;
  display: flex;
}

.left {
  float: left;
  width: 5.5%;
  margin-right: auto;
}

body > div > nav > ul > li:nth-child(1) > a > img {
  height: 30px;
}

.right {
  width: 50%;
  float: right;
}

li {
  width: 100%;
  justify-content: center;
  display: flex;
  flex-direction: column;
  transition: background-color 0.7s ease-out 100ms;
}

.navbar.is-fixed-top li:hover {
  background-color: #65d9e5;
  opacity: 0.99;
}

a {
  text-shadow: 3px 3px 3px #d06f7e;
  color: #65d9e5;
  font-size: 1vw;
  float: left;
  display: block;
  text-align: center;
  padding: 5px;
  text-decoration: none;
  transition: all 0.2s ease-in-out;
  font-family: sans-serif;
  text-transform: uppercase;
  letter-spacing: 3px;
}

a:hover {
  transform: scale(1.1);
}

/****************** Portfolio-intro ******************/
.Portfolio-intro {
  position: relative;
  letter-spacing: 2px;
  width: 55%;
}

.wordColor {
  color: #65d9e5;
  text-shadow: 3px 3px 3px #4a4860;
}

.introP {
  font-size: 1.75vw;
}

#intro > p.typewriter.wordColor {
  padding-bottom: 20px;
}

.Portfolio-intro h1 {
  font-size: 6vw;
  text-shadow: 1px 1px 1px #65d9e5, 2px 2px 2px #4a4860;
}

.Portfolio-intro h2 {
  font-size: 3vw;
}

.intro-background {
  background: linear-gradient(
    0deg,
    rgba(242, 207, 216, 1) 0%,
    rgba(208, 111, 126, 1) 4%,
    rgba(208, 111, 126, 1) 100%
  );
  display: flex;
  flex-direction: column;
}

.intro-para {
  line-height: 1.5;
  font-size: 1rem;
}

.fulljustify {
  text-align: justify;
}

/* arrow */
.intro-background > a {
  font-size: 3vw;
  width: 100%;
  position: absolute;
  bottom: 90px;
  cursor: pointer;
  color: #4a4860;
}

.bounce-2 {
  animation-timing-function: ease;
  animation: 1s linear 1s infinite alternate bounce-2;
}

@keyframes bounce-2 {
  0% {
    transform: translateY(10px);
  }
  50% {
    transform: translateY(40px);
  }
  100% {
    transform: translateY(10px);
  }
}
/* 
.type {
  position: absolute;
  right: 0;
  width: 0;
  border-left: 1px solid #65d9e5;
  background: #d06f7e;
  animation: maquina 4s infinite alternate steps(30);
}

@keyframes maquina {
  from {
    width: 100%;
  }
  to {
    width: 0;
  }
} */

/******************* protfolio about me and picture *******************/

.about-background {
  background: linear-gradient(
    0deg,
    rgba(184, 124, 141, 1) 0%,
    rgba(242, 207, 216, 1) 4%,
    rgba(242, 207, 216, 1) 100%
  );
}

.picAndTextContainer {
  display: flex;
  flex-direction: row;
  width: 100%;
}

.pic-container {
  width: 150%;
  display: flex;
  flex-direction: column;
  margin-right: 45px;
}

.about-picture {
  opacity: 0.3;
  border-radius: 20px;
  border: solid #65d9e5 5px;
  padding: 5px;
  box-shadow: 10px 10px 10px #d06f7e, 5px 10px 10px #65d9e5;
}

.about-picture:hover {
  opacity: 0.85;
}

.h4 {
  font-size: 1.2rem;
}

/******************* portfolio skills toolbox *******************/
.skills-background {
  background: linear-gradient(
    0deg,
    rgba(242, 207, 216, 1) 0%,
    rgba(184, 124, 141, 1) 4%,
    rgba(184, 124, 141, 1) 100%
  );
}

#skills {
  max-height: 20%;
}

#skills > ul {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-wrap: wrap;
}
#skills > ul > li {
  width: 20%;
  margin: 30px 15px;
  justify-content: space-between;
  text-align: center;
}

.skill-icon {
  font-size: 1.7rem;
  transition: all 0.2s ease-in-out;
  color: #4a4860;
}
.skill-icon:hover {
  transform: scale(2);
  cursor: pointer;
  text-shadow: none;
  filter: drop-shadow(3px 3px 3px #65d9e5);
}

.cc {
  width: 1.9rem;
  filter: drop-shadow(3px 3px 3px #d06f7e);
  margin: auto;
}

/******************* Portfolio-projects *******************/
.portfolio-background {
  background: linear-gradient(
    0deg,
    rgba(246, 143, 152, 1) 0%,
    rgba(242, 207, 216, 1) 4%,
    rgba(242, 207, 216, 1) 100%
  );
}

.posts {
  display: -webkit-flex;
  -webkit-flex-wrap: wrap;
  text-align: center;
}

#portfolio > div > section > article {
  width: 50%;
  padding: 2.5rem;
  display: flex;
  flex-direction: column;
}

/* header with 2 texts */

article > header > h2 {
  font-size: 2rem;
  margin: 0;
  letter-spacing: 0.075em;
  text-transform: uppercase;
}
header > .date {
  display: block;
  font-size: 0.8rem;
  margin: 1rem 0 1rem 0;
}

/* project image */
.project-img {
  width: 100%;
  height: 300px;
}
.image {
  height: 100%;
  width: 100%;
  object-fit: cover;
  overflow: hidden;
}

/* app paragraph description */

article > p {
  text-align: justify;
}

/* buttons */
.button {
  font-family: BlinkMacSystemFont, -apple-system, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Fira Sans", "Droid Sans", "Helvetica Neue", Helvetica,
    Arial, sans-serif;
  border: none;
  border-radius: 4px;
  background-color: #4a4860;
  color: white;
  text-transform: uppercase;
  font-weight: 500;
  letter-spacing: 2px;
  margin: 0.5px 0.5px;
}

.button:hover {
  background-color: #65d9e5;
  transform: none;
  color: white;
}

/******************* portfolio -contact *******************/

.contact-background {
  background-color: rgb(246, 143, 152);
}

.contact-text-container {
  display: flex;
  flex-direction: column;
}

.formandtext {
  display: flex;
  flex-direction: row;
}

.contact-text {
  margin-right: 45px;
  text-align: center;
}

.contact-text-container {
  justify-content: center;
  width: 50%;
}
/* contact social media icons */

.contact-padding {
  padding: 15px;
}

.contact-icon {
  font-size: 1.3rem;
  transition: all 0.2s ease-in-out;
  color: #4a4860;
}

.contact-icon:hover {
  color: #65d9e5;
  text-shadow: 0 0 5px #4a4860;
  transform: scale(2);
  cursor: pointer;
}

/* right arrow */
.bounce-1 {
  font-size: 2.5rem;
  animation-timing-function: ease;
  animation: 1s linear 1s infinite alternate bounce-1;
}

@keyframes bounce-1 {
  0% {
    transform: translatex(-25px);
  }
  50% {
    transform: translateX(5px);
  }
  100% {
    transform: translateX(-25px);
  }
}

/* bootstrap form details */
.contact-form {
  padding: 40px 40px;
  background-color: #fbc7cc;
  border-radius: 12px;
  width: 100%;
}

.contact-form textarea {
  resize: none;
}

.contact-form .form-input,
.form-text-area {
  background-color: #f0f4f5;
  height: 50px;
  padding-left: 16px;
  font-family: "Special Elite";
  color: #4a4860;
}

.contact-form .form-text-area {
  background-color: #f0f4f5;
  height: auto;
  padding-left: 16px;
}

.contact-form .form-control::placeholder {
  color: #8f8bbb;
  font-weight: 500;
  opacity: 1;
}

.contact-form .form-control:focus {
  border-color: rgb(246, 143, 152);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.07), 0 0 8px rgb(246, 143, 152);
}

.contact-form .submit-button-wrapper {
  text-align: center;
}

.contact-form .submit-button-wrapper input {
  border: none;
  border-radius: 4px;
  background-color: #4a4860;
  color: white;
  text-transform: uppercase;
  padding: 10px 60px;
  font-weight: 500;
  letter-spacing: 2px;
}

.contact-form .submit-button-wrapper input:hover {
  background-color: #65d9e5;
}

/******************* footer *******************/

.Portfolio-footer {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: pink;
  font-size: 1rem;
  color: #4a4860;
}

.fa-heart {
  font-size: 1rem;
  color: #d06f7e;
}
